.bottom-button {
    vertical-align: top;
    margin-top: 3px;
}

.bordered-group {
    margin: 10px;
    padding:  5px;
    border: dotted;
    border-width: thin;
    border-color: blue;
}

button {
    width: 100%;
}
